* {
  margin: 0;
  padding: 0;
}
:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --body: #dadbd3;
  --white: #f2f2f2;
  --light: #fff;
  --chat: #262d31;
  --chat-you: #054740;
  --active: #00af9c;
  --bg-date: #054740bd;
  --shadow: rgba(0, 0, 0, 0.75);
  --gray: rgb(172, 168, 168);
  --lightgray: lightgray;
  --main-body: rgb(241, 239, 230);
  --padding-xs: 8px;
  --font-size-xs: 10px;
  --font-size-m: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
